$DarkMagenta: #8B008B;

.map {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  #map {
    position: relative;
    width: 100%; 
    height: 104%;
  }

  .title {
    z-index: 5000;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 32pt;
    padding-left: 7pt;
    padding-bottom: 7pt;

    a {
      text-decoration: none; 
      font: 24pt bold impact;
      color: #888; 
      margin-bottom: 7pt;
     }
    a:visited {
      text-decoration: none; 
      color: #888; 
    } 
    a:hover {
      text-decoration: none; 
      color: lighten($DarkMagenta, 15%);
    }
  }

  .menu-map {
    z-index: 5001;
    position: fixed;
    display: inline-block;
    bottom: 0;
    right: 0;
    height: 32pt;
    margin-right: 7pt;
    margin-bottom: 7pt;
    width: 32pt;

    .dropbtn {
      cursor: pointer;
      width: 100%;
      color: $DarkMagenta;

      }

    .dropbtn:hover, .dropbtn:focus {
      color: lighten($DarkMagenta, 15%);
    }

  }

  .dropup-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5002;
    float: right;
    right:0;
    bottom: 28pt;

    a {
      color: black;
      padding: 8pt 12pt;
      text-decoration: none;
      word-wrap: normal;
      overflow: visible;
      display: block;
    }
    a:hover {background-color: #ddd}
  }
}
