$DarkMagenta: #8B008B;

.map {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  #map {
    position: relative;
  }



  .title {
    z-index: 5000;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 25pt;
    padding-left: 7pt;

    a {
      text-decoration: none; 
      font: 24pt bold impact;
      color: #888; 
      margin-bottom: 7pt;
     }
    a:visited {
      text-decoration: none; 
      color: #888; 
    } 
    a:hover {
      text-decoration: none; 
      color: lighten($DarkMagenta, 15%);
    }
  }

  .menu {
    z-index: 5001;
    position: fixed;
    display: inline-block;
    bottom: 0;
    right: 0;
    height: 24pt;
    margin-right: 7pt;
    margin-top: 4pt;
    margin-bottom: 4.5pt;
    width: 24pt;

    .dropbtn {
      height: 3pt;
      border-top: 10pt double #888;
      border-bottom: 3.3pt solid #888;
      cursor: pointer;
      width: 100%;
    }

    .dropup-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 90px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 5002;
      float: right;
      right:0;
      bottom: 28pt;

      a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      a:hover {background-color: #ddd}
    }
    
    .dropbtn:hover, .dropbtn:focus {
      border-color: lighten($DarkMagenta, 15%);
    }

 }
}
